---
import { type CollectionEntry, getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Backlinks from "../../components/Backlinks.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("notes");
  return posts.map((post: any) => ({
    params: { id: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"notes">;

const post = Astro.props;
const { Content } = await render(post);
---

<Main
  description={post.data.description}
  title={post.data.title}
  isGraphSmall={true}
>
  <div class="prose">
    <div class="title">
      <h1>{post.data.title}</h1>
      <div class="date">
        <FormattedDate date={post.data.pubDate} />

        {
          post.data.updatedAt && (
            <>
              <span>|</span>
              <span>
                Updated: <FormattedDate date={post.data.updatedAt} />
              </span>
            </>
          )
        }
      </div>
    </div>
    <Content />
    <Backlinks postSlug={post.id} />
  </div>
</Main>
<style>
  .prose {
    max-width: calc(100% - 2rem);
    margin: auto;
    padding: 0 1rem 0;
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    line-height: 1;
  }
  .title h1 {
    margin: 0;
  }
  .date {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    color: var(--nord3);
  }
</style>
