---
import { getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("notes")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/notes/${post.slug}/`}>
              <h4 class="title" transition:name={`${post.slug}_title`}>
                {post.data.title}
              </h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
              <p class="description">{post.data.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Main>
<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: 100%;
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul li a {
    display: block;
  }
  .hero {
    margin: 0 0 2rem;
  }
  .hero h1 {
    margin-bottom: 1rem;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  .description {
    margin: 0;
    color: rgb(var(--gray));
  }
  ul li a:hover h4,
  ul li a:hover .date {
    color: rgb(var(--accent));
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
    ul li:first-child {
      margin-bottom: 0;
    }
    ul li:first-child .title {
      font-size: 1.563em;
    }
  }
</style>
