---
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import Graph from "../components/Graph.astro";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("notes"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .slice(0, 5);
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="graph-wrapper" slot="after-header">
    <Graph height={300} padding={8} />
  </div>
  <section>
    <h1>🧑‍🚀 Hello, Astronaut!</h1>
    <p>
      Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
      template. This template serves as a lightweight, minimally-styled starting
      point for anyone looking to build a personal website, blog, or portfolio with
      Astro.
    </p>
  </section>
  <section>
    <h2>Recent notes</h2>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/notes/${post.slug}/`}>
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
              <p class="description">{post.data.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Main>
<style>
  .graph-wrapper {
    height: 300px;
    background: var(--nord5);
  }

  section {
    max-width: calc(100% - 2em);
    margin: 2em auto;
    padding: 0 1em 0;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: 100%;
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul li a {
    display: block;
    color: var(--nord0);
  }
  .hero {
    margin: 0 0 2rem;
  }
  .hero h1 {
    margin-bottom: 1rem;
  }
  .title {
    margin: 0;
    line-height: 1;
  }
  .date {
    margin: 0;
    color: var(--nord3);
  }
  .description {
    margin: 0;
    color: var(--nord3);
  }
  ul li a:hover h4,
  ul li a:hover .date {
    color: var(--nord10);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
    ul li:first-child {
      margin-bottom: 0;
    }
    ul li:first-child .title {
      font-size: 1.563em;
    }
  }
</style>
