---
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ContactForm from "../components/ContactForm.astro";

const posts = (await getCollection("notes"))
  .sort((a, b) => {
    const aDate = a.data.updatedAt || a.data.pubDate;
    const bDate = b.data.updatedAt || b.data.pubDate;
    return bDate.valueOf() - aDate.valueOf();
  })
  .slice(0, 5);
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="canvas-container">
    <canvas id="space-canvas"></canvas>
    <div class="ui-overlay">
      <section class="content-section">
        <div class="container">
          <h1>Piotr Kielak</h1>
          <h3 class="opacity-70">
            Let me take you on a journey into deep space...
          </h3>
        </div>
      </section>
      <div class="scroll-anchor"></div>

      <section class="content-section">
        <div class="container">
          <h3>Hello!</h3>
          <p>
            I'm a front-end developer with a few years of experience in web
            development and I enjoy sharing my thoughts through this digital
            garden project.
          </p>
          <p>
            If you're interested in the structure or exploring different parts
            of my digital garden, check the node diagram below or jump straight
            in{" "}
            <a href="/notes/index">here!</a>
          </p>
        </div>
      </section>
      <div class="scroll-anchor"></div>

      <section class="content-section">
        <div class="container">
          <h3>Skills</h3>
          <p>
            My main focus as a developer is building useful applications and
            websites tailored for daily users tasks. Some of my earlier projects
            have succeeded in this, which motivates me to keep creating great
            solutions.
          </p>
          <p>
            Skilled in React and TypeScript, I'm learning Next.js, Astro,
            PostgreSQL, and AI agents to expand my full-stack development
            skills.
          </p>
        </div>
      </section>
      <div class="scroll-anchor"></div>

      {
        posts.map((post) => (
          <>
            <section class="content-section">
              <div class="container">
                <a href={`/notes/${post.id}/`} class="post">
                  <h3>
                    {post.data.title} |{" "}
                    <FormattedDate
                      date={post.data.updatedAt || post.data.pubDate}
                    />
                  </h3>
                </a>
                <p>{post.data.description}</p>
              </div>
            </section>
            <div class="scroll-anchor" />
          </>
        ))
      }

      <section class="content-section">
        <div class="container">
          <h3>Contact</h3>
          <ContactForm />
        </div>
      </section>
      <div class="scroll-anchor"></div>
    </div>
  </main>
</Main>

<style>
  .canvas-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
  }

  #space-canvas {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
  }

  .ui-overlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, sans-serif;
  }

  .content-section {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    align-items: center;
    justify-content: center;
  }

  /* Alternate top/bottom placement for mobile */
  .content-section:nth-of-type(4n + 1),
  .content-section:nth-of-type(4n + 3) {
    justify-content: flex-start;
  }

  .content-section:nth-of-type(4n + 2),
  .content-section:nth-of-type(4n) {
    justify-content: flex-end;
  }

  .container {
    border: 1px solid var(--nord14-aurora);
    padding: 1rem;
    max-width: 90%;
    border-radius: 8px;
  }

  .content-section:nth-of-type(1) .container {
    border: none;
    padding: 0;
  }

  .content-section:nth-of-type(4n + 1) .container,
  .content-section:nth-of-type(4n + 3) .container {
    margin-top: 25svh;
    transform: translateY(-50%);
  }

  .content-section:nth-of-type(4n + 2) .container,
  .content-section:nth-of-type(4n) .container {
    margin-bottom: 25svh;
    transform: translateY(50%);
  }

  .scroll-anchor {
    width: 1px;
    height: 100svh;
    pointer-events: none;
  }

  @media (min-width: 1024px) {
    .content-section {
      width: calc(100% - 4rem);
      height: calc(100svh - 4rem);
      padding: 2rem;
    }

    .content-section:nth-of-type(4n + 1) .container,
    .content-section:nth-of-type(4n + 2) .container,
    .content-section:nth-of-type(4n + 3) .container,
    .content-section:nth-of-type(4n) .container {
      margin-top: unset;
      margin-bottom: unset;
      transform: unset;
    }
  }

  @media (min-width: 1280px) {
    .content-section:nth-of-type(4n + 1) {
      align-items: flex-start;
      justify-content: flex-start;
    }

    .content-section:nth-of-type(4n + 2) {
      align-items: flex-end;
      justify-content: flex-start;
    }

    .content-section:nth-of-type(4n + 3) {
      align-items: flex-end;
      justify-content: flex-end;
    }

    .content-section:nth-of-type(4n) {
      align-items: flex-start;
      justify-content: flex-end;
    }

    .container {
      padding: 2rem;
      max-width: 800px;
    }
  }
</style>

<script type="module">
  import { inView } from "../lib/inView";
  import { startAnimationLoop, triggerAnimationUpdate } from "../lib/animation";
  import { init } from "/src/lib/init";

  init();

  // Intersection Observer for scroll anchors
  const observer = new IntersectionObserver(
    (entries) => {
      // Update the space scene whenever scroll changes
      triggerAnimationUpdate();

      entries.forEach(inView);
    },
    {
      root: null,
      rootMargin: "0px",
      threshold: Array.from({ length: 101 }, (_, i) => i / 100),
    },
  );

  // Observe all scroll anchors
  document.querySelectorAll(".scroll-anchor").forEach((anchor) => {
    observer.observe(anchor);
  });

  // Initial check on load
  window.addEventListener("load", () => {
    document.querySelectorAll(".scroll-anchor").forEach((anchor) => {
      observer.observe(anchor);
    });
    // Start animation loop
    startAnimationLoop();
    // Initial animation update
    triggerAnimationUpdate();
  });
</script>
