---
import { Image } from "astro:assets";
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ContactForm from "../components/ContactForm.astro";
import GraphWrapper from "src/components/GraphWrapper.astro";
import ConsoleLoading from "../components/ConsoleLoading.astro";
import OrbitSystem from "../components/OrbitSystem.astro";

const posts = (await getCollection("notes"))
  .sort((a, b) => {
    const aDate = a.data.updatedAt || a.data.pubDate;
    const bDate = b.data.updatedAt || b.data.pubDate;
    return bDate.valueOf() - aDate.valueOf();
  })
  .slice(0, 3);
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <!-- Console-like Initialization Screen -->
  <ConsoleLoading />

  <main class="canvas-container">
    <canvas id="space-canvas"></canvas>
    <div class="ui-overlay">
      <section class="content-section">
        <div class="container">
          <h1>Hi, I'm <span>P</span>iotr <span>Kielak</span></h1>
          <h3 class="opacity-70">
            Let me take you on a trip into deep space<span
              class="cursor"
              style="--cursor-opacity: 1;">_</span
            >
          </h3>
        </div>
      </section>
      <div class="scroll-anchor"></div>

      <section class="content-section">
        <div class="container">
          <h3>Hello!</h3>
          <p>
            I'm a front-end developer with a few years of experience in web
            development, and it's nice to share my experiences here, on this
            page.
          </p>
          <p>
            If you're interested, you can jump straight in{" "}
            <a href="/notes/index">here</a> or scroll down to the blog posts on the
            bottom of the page.
          </p>
        </div>
      </section>
      <div class="scroll-anchor"></div>

      <section class="content-section">
        <div class="container">
          <h2>My Motivation as a Software Developer</h2>
          <p>
            As a software developer, I want to build useful apps and pages that
            leave a positive impact. Some of my earlier projects have succeeded
            in this, which motivates me to keep going with this agenda.
          </p>
        </div>
      </section>
      <div class="scroll-anchor"></div>

      <section class="content-section">
        <div class="container skills">
          <OrbitSystem />
        </div>
      </section>
      <div class="scroll-anchor"></div>

      <section class="content-section">
        <div class="container">
          <h3>Latest posts from the blog</h3>
          {
            posts.map((post) => (
              <div>
                <a href={`/notes/${post.id}/`} class="post">
                  <p>
                    {post.data.title} |{" "}
                    <FormattedDate
                      date={post.data.updatedAt || post.data.pubDate}
                    />
                  </p>
                </a>
                <p>{post.data.description}</p>
              </div>
            ))
          }
        </div>
      </section>
      <div class="scroll-anchor"></div>

      <section class="content-section">
        <div class="container">
          <h3>Contact</h3>
          <ContactForm />
        </div>
      </section>
      <div class="scroll-anchor"></div>

      <section class="content-section">
        <div class="overlay">
          <h3>
            The end of the known universe is the beginning of my universe...
          </h3>
          <p>
            Navigate through my universe of thoughts by clicking on the star
            representing the blog post.
          </p>
        </div>
        <GraphWrapper />
      </section>
      <div class="scroll-anchor"></div>
    </div>
  </main>
</Main>

<style>
  h1 span {
    color: var(--nord14-aurora);
  }

  .cursor {
    display: inline-block;
    animation: blink 1s step-end infinite;
    color: var(--nord14-aurora);
    opacity: var(--cursor-opacity, 1);
  }

  @keyframes blink {
    0%,
    100% {
      opacity: var(--cursor-opacity, 1);
    }
    50% {
      opacity: 0;
    }
  }

  .canvas-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
  }

  #space-canvas {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
  }

  .ui-overlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, sans-serif;
  }

  .content-section {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    align-items: center;
    justify-content: center;
  }

  .container {
    position: absolute;
    left: 50%;
    border: 1px solid var(--nord14-aurora);
    padding: 1rem;
    width: calc(100% - 2rem);
  }

  .container p:last-of-type {
    margin-bottom: 0;
  }

  .content-section:nth-of-type(1) .container,
  .container.skills {
    border: none;
    padding: 0;
  }

  .content-section:nth-of-type(4n + 1) .container,
  .content-section:nth-of-type(4n + 3) .container {
    top: 25svh;
    transform: translate(-50%, -50%);
  }

  .content-section:nth-of-type(4n + 2) .container,
  .content-section:nth-of-type(4n) .container {
    bottom: 25svh;
    transform: translate(-50%, 50%);
  }

  .scroll-anchor {
    width: 1px;
    height: 100svh;
    pointer-events: none;
  }

  .overlay {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 9;
    font-family: "IBM Plex Mono", monospace;
  }

  @media (min-width: 1024px) {
    .container {
      width: auto;
      max-width: 90%;
    }
  }

  @media (min-width: 1280px) {
    .content-section:nth-of-type(4n + 1) .container,
    .content-section:nth-of-type(4n + 2) .container {
      top: 25svh;
      bottom: unset;
      transform: translate(0, -50%);
    }

    .content-section:nth-of-type(4n + 3) .container,
    .content-section:nth-of-type(4n) .container {
      top: unset;
      bottom: 25svh;
      transform: translate(0, 50%);
    }

    .content-section:nth-of-type(4n + 1) .container,
    .content-section:nth-of-type(4n) .container {
      left: 8rem;
    }

    .content-section:nth-of-type(4n + 2) .container,
    .content-section:nth-of-type(4n + 3) .container {
      left: unset;
      right: 8rem;
    }

    .content-section:last-of-type .container {
      left: 0;
      right: unset;
    }

    .container {
      padding: 2rem;
      max-width: 800px;
    }
  }
</style>

<script>
  import { init } from "../lib/init.js";

  init();
</script>
