---
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ContactForm from "../components/ContactForm.astro";
import Earth from "../components/Earth.astro";
import Rocket from "../components/Rocket.astro";

const posts = (await getCollection("notes"))
    .sort((a, b) => {
        const aDate = a.data.updatedAt || a.data.pubDate;
        const bDate = b.data.updatedAt || b.data.pubDate;
        return bDate.valueOf() - aDate.valueOf();
    })
    .slice(0, 5);
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <Earth />
    <Rocket />

    <section>
        <div class="photo earth--move">
            <img src="/avatar.png" alt="portrait of me in spacesuit" />
            <h3>Hello! I'm Piotr Kielak</h3>
            <p>
                I'm a front-end developer with a few years of experience in web
                development and I enjoy sharing my thoughts through this digital
                garden project.
            </p>
            <p>
                If you're interested in the structure or exploring different
                parts of my digital garden, check the node diagram below or jump
                straight in{" "}
                <a href="/notes/index">here</a>!
            </p>
        </div>
    </section>
    <section>
        <div class="planet">
            <p>
                My main focus as a developer is building useful applications and
                websites tailored for daily users tasks. Some of my earlier
                projects have succeeded in this, which motivates me to keep
                creating great solutions.
            </p>
            <p>
                Skilled in React and TypeScript, I'm learning Next.js, Astro,
                PostgreSQL, and AI agents to expand my full-stack development
                skills.
            </p>
            <div class="curvedTextWrapper">
                <div class="curvedText">
                    <svg viewBox="0 0 220 220" aria-hidden="true">
                        <defs>
                            <path
                                id="circlePath"
                                d="M110,110 m-100,0 a100,100 0 1,1 200,0 a100,100 0 1,1 -200,0"
                            ></path>
                        </defs>
                        <text font-size="16" fill="var(--nord4-snow-storm)">
                            <textPath
                                href="#circlePath"
                                startOffset="50%"
                                text-anchor="middle"
                            >
                                {
                                    "JavaScript — TypeScript — CSS — SCSS — React  — Astro  —  Nextjs  —  Postgres  —  AI Agents  —"
                                }
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="planet">
            <h3>Recent notes</h3>
        </div>
    </section>
    {
        posts.map((post) => (
            <section>
                <div class="planet">
                    <a href={`/notes/${post.id}/`} class="post">
                        <h4 class="title">{post.data.title}</h4>
                        <p class="date">
                            <FormattedDate
                                date={post.data.updatedAt || post.data.pubDate}
                            />
                        </p>
                        <p class="description">{post.data.description}</p>
                    </a>
                </div>
            </section>
        ))
    }
    <section>
        <div class="planet">
            <h3>Contact Me</h3>
            <ContactForm />
        </div>
    </section>
</Main>

<style>
    h3 {
        font-size: 1.563em;
        text-align: center;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 2rem);
        max-width: 1024px;
        height: 100svh;
        margin: 0 auto;
        scroll-snap-align: start;
        z-index: 200;
    }

    section:nth-of-type(2),
    section:last-of-type {
        width: 125%;
        left: 50%;
        transform: translateX(-50%);
    }

    section:not(:nth-of-type(2), :last-of-type):has(.planet) {
        margin-top: 2rem;
        height: auto;
    }

    .photo,
    .planet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        flex: 0 1 auto;
        max-width: 100%;
        min-width: 0;
        background: var(--nord4-snow-storm);
        box-shadow: var(--shadow-4);
        font-weight: 400;
        z-index: 999;
    }

    .photo {
        color: var(--nord1-polar-night);
    }

    .photo img {
        width: 75%;
    }

    .planet {
        position: relative;
        transition:
            opacity 1.2s ease-in-out,
            transform 1.2s ease-in-out;
        color: var(--nord4-snow-storm);
        border-radius: 50%;
        padding: 1rem 2rem;
        aspect-ratio: 1;
        z-index: 0;
        opacity: 0;
    }

    .planet * {
        margin: 0;
    }

    .planet > * {
        position: relative;
        z-index: 10;
    }

    .planet::before,
    .planet::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
    }

    .planet::before {
        z-index: 1;
    }

    .planet::after {
        position: absolute;
        background: url("/moon.svg") center/cover no-repeat;
        transform-origin: center;
        z-index: 0;
        filter: brightness(0.3);
    }

    section:nth-of-type(2) .planet::after,
    section:nth-of-type(7) .planet::after {
        transform: rotate(270deg) scale(-1, -1);
    }

    section:nth-of-type(3) .planet::after,
    section:nth-of-type(5) .planet::after {
        transform: rotate(45deg) scale(-1, -1);
    }

    section:nth-of-type(4) .planet::after {
        transform: rotate(135deg) scale(-1, -1);
    }

    section:nth-of-type(6) .planet::after,
    section:nth-of-type(8) .planet::after {
        transform: rotate(270deg) scale(-1, -1);
    }

    section:nth-of-type(2) .planet::before,
    section:nth-of-type(9) .planet::before {
        background-color: #81a1c190;
    }
    section:nth-of-type(3) .planet::before {
        background-color: #bf616a90;
    }
    section:nth-of-type(4) .planet::before {
        background-color: #a3be8c90;
    }
    section:nth-of-type(5) .planet::before {
        background-color: #d0877090;
    }
    section:nth-of-type(6) .planet::before,
    section:nth-of-type(7) .planet::before {
        background-color: #88c0d090;
    }
    section:nth-of-type(8) .planet::before {
        background-color: #ebcb8b90;
    }

    section:nth-of-type(even) .planet {
        transform-origin: 50% -300vh;
        transform: rotate(15deg);
    }

    section:nth-of-type(odd) .planet {
        transform-origin: 50% -300vh;
        transform: rotate(-15deg);
    }

    section .planet.visible {
        transform: rotate(0);
        opacity: 1;
    }

    section:nth-of-type(2) .planet,
    section:last-of-type .planet {
        padding: 1rem 4rem;
    }

    .planet .curvedTextWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        user-select: none;
        pointer-events: none;
    }

    .curvedText {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        height: 120%;
        transform: translate(-50%, -50%) rotate(0deg);
        z-index: 99;
        animation: rotate 8s linear infinite;
    }

    @keyframes rotate {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    .post {
        display: block;
        text-decoration: none;
        font-weight: 400;
        border-radius: 0;
        transition: color 0.2s ease;
    }

    .post:hover h4,
    .post:hover .date {
        color: var(--nord10-frost);
    }

    .title {
        margin: 0;
        line-height: 1;
    }

    .date,
    .description {
        margin: 0;
        color: var(--nord3-snow-storm);
    }

    @media (min-width: 720px) {
        h3 {
            font-size: 1.953em;
        }

        ul {
            gap: 0.5em;
        }

        ul li:first-child .title {
            font-size: 1.563em;
        }
    }

    @media (min-width: 768px) {
        section {
            height: 100vh;
        }

        section:nth-of-type(odd) {
            justify-content: flex-end;
        }

        section:nth-of-type(even) {
            justify-content: flex-start;
        }

        section:nth-of-type(1) {
            justify-content: center;
        }

        section:not(:nth-of-type(2), :last-of-type):has(.planet) {
            height: 33vh;
            margin-top: 0;
        }

        section:nth-of-type(2),
        section:last-of-type {
            width: initial;
            left: initial;
            transform: initial;
        }

        .planet {
            padding: 2rem;
            max-width: 448px;
        }

        section:last-of-type .planet {
            max-width: unset;
        }

        .photo {
            width: 50%;
            max-width: unset;
        }

        .photo img {
            width: 100%;
        }
    }
</style>

<script type="module" is:inline data-astro-rerun>
    (() => {
        let observer = null;

        function onPlanetVisible(entries) {
            entries.forEach((entry) => {
                const planet = entry.target.querySelector(".planet");
                if (!planet) return;

                if (entry.isIntersecting) {
                    planet.classList.add("visible");
                } else {
                    planet.classList.remove("visible");
                }
            });
        }

        function detachObserver(sections) {
            if (observer) {
                sections.forEach((section) => observer?.unobserve(section));
                observer = null;
            }
        }

        function init() {
            const sections = document.querySelectorAll(
                "section:not(section:first-child)",
            );

            detachObserver(sections);
            observer = new IntersectionObserver(onPlanetVisible, {
                root: null,
                rootMargin: "0px",
                threshold: 0.05,
            });

            sections.forEach((section) => observer?.observe(section));
        }

        document.addEventListener("DOMContentLoaded", init);
    })();
</script>
