---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import GraphComponent from "../components/GraphComponent";

const graph = await import("../pages/graph.json");
const graphData = await graph.GET({}).then((response) => response.json());
const today = new Date();

interface Props {
  title: string;
  description: string;
  isGraphSmall?: boolean;
}

const { title, description, isGraphSmall } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>

  <body>
    <main>
      <Header />
      <article>
        <slot />
      </article>
    </main>
    <div class="graph-wrapper">
      <GraphComponent
        data={graphData}
        client:only="react"
        transition:persist="graph"
        isSmall={isGraphSmall}
      />
    </div>
    <footer>
      &copy; {today.getFullYear()} Your name here. All rights reserved.
    </footer>
  </body>
</html>

<style>
  @keyframes reveal {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  body {
    display: grid;
    grid-template-areas: "main" "graph" "footer";
  }

  main {
    width: 100%;
    grid-area: main;
  }

  article {
    max-width: 720px;
    margin: 0 auto;
  }

  .graph-wrapper {
    width: 100%;
    height: 50vh;
    animation: reveal forwards ease-in-out 250ms;
    border-top: 1px dashed var(--nord10);
    grid-area: graph;
  }

  footer {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: var(--footer-height);
    border-top: 1px dashed var(--nord10);
    grid-area: footer;
  }

  @media (min-width: 1024px) {
    body {
      grid-template-areas:
        "main graph"
        "footer graph";
    }

    main {
      margin: 0 0 auto;
    }

    main,
    footer {
      max-width: 512px;
    }

    .graph-wrapper {
      position: fixed;
      top: 0;
      right: 0;
      width: calc(100% - 513px);
      height: 100vh;
      border-top: unset;
      border-left: 1px dashed var(--nord10);
    }
  }

  @media (min-width: 1200px) {
    main,
    footer {
      max-width: 600px;
    }

    .graph-wrapper {
      width: calc(100% - 601px);
    }
  }

  @media (min-width: 1440px) {
    main,
    footer {
      max-width: 720px;
    }

    .graph-wrapper {
      width: calc(100% - 721px);
    }
  }
</style>
