---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import GraphComponent from "../components/GraphComponent";

const graph = await import("../pages/graph.json");
const graphData = await graph.GET({}).then((response) => response.json());
const today = new Date();

interface Props {
  title: string;
  description: string;
  isGraphSmall?: boolean;
}

const { title, description, isGraphSmall } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <slot />
      </article>
    </main>
    <div class="graph-wrapper">
      <GraphComponent
        data={graphData}
        client:only="react"
        transition:persist="graph"
        isSmall={isGraphSmall}
      />
    </div>
    <footer>
      &copy; {today.getFullYear()} pkielak 
    </footer>
  </body>
</html>

<style>
  @keyframes reveal {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  body {
    display: grid;
    grid-template-areas: "header" "main" "graph" "footer";
  }

  main {
    position: relative;
    grid-area: main;
    z-index: 2;
    background: #fff;
  }

  article {
    max-width: 720px;
    margin: 0 1rem;
    padding: 2rem 0 0;
  }

  .graph-wrapper {
    width: 100%;
    height: 50vh;
    animation: reveal forwards ease-in-out 250ms;
    grid-area: graph;
  }

  footer {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: var(--footer-height);
    grid-area: footer;
  }

  @media (min-width: 1024px) {
    body {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header header"
        "main graph"
        "footer graph";
    }

    main {
      border-radius: 0 0.5rem 0.5rem 0;
      box-shadow:
        rgba(184, 194, 215, 0.25) 0px 4px 6px,
        rgba(184, 194, 215, 0.1) 0px 5px 7px;
    }

    .graph-wrapper {
      position: fixed;
      z-index: 1;
      top: var(--header-height);
      right: 0;
      height: calc(100vh - var(--header-height));
      width: 50%;
      border-top: unset;
    }

    footer {
      left: 100%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: 1440px) {
    article {
      margin: 0 auto;
    }
  }
</style>
